version: "3.9"
services:
  taxiconnect_django:
    build: .
    env_file:
      - .env.prod
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.taxiconnect-django.rule=Host(`ba-taxi.tstdigitalproducts.com`)"
      - "traefik.http.routers.taxiconnect-django.entrypoints=websecure"
      - "traefik.http.routers.taxiconnect-django.tls=true"
      - "traefik.http.routers.taxiconnect-django.tls.certresolver=le"
      - "traefik.http.services.taxiconnect-django.loadbalancer.server.port=8000"
    restart: unless-stopped
    networks:
      - root_default
networks:
  root_default:
    external: true